# Large result files
results/
*.npz
*.npy
*.csv
notebooks/cpdb_inputs/
*.h5ad
*.loom
*.h5
*.h5mu
*.zarr
*.mtx
*.np[yz]
*.rds
*.pt
*.parquet
*.csv.gz
*.tsv
*.h5ad
*.pdf
*.png
*.svg
*.tiff
*.jpg
*.jpeg
figures/
.DS_Store
**/.DS_Store
__pycache__/
*.pyc
*.nbc
*.nbi
.ipynb_checkpoints/
.Rapp.history
